<footer class="footer">
  <p class="float-right"><a href="#"><%= t ".back_to_top" %></a></p>
  <p>&copy; <%= t ".info" %> &middot; <a href="#"><%= t ".privacy" %></a> &middot; <a href="#"><%= t ".terms" %></a></p>
</footer>
